body{
    width:100%;
    height: 100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    text-align: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    font-family: 'Playfair Display';    
}

header{
    position: fixed;
    top:0;left:0;
    display: flex;
    justify-content: space-between;
    padding: 40px; 
    font-size: 1rem;;
    height: auto;  
    width:100%; 
    z-index:1; 
    box-sizing: border-box;    
}
.header-bars{
    display: none;
    color: white;
}
.ted{
    line-height: 50%;
}
.header-links{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
ul{
    /* padding-inline-start:0 */
}
li{
    list-style-type: none;
}

.header-links a{   
    margin:auto 10px;
    color:rgb(243, 237, 237);
}

.home-section{   
    max-width:100%;
    height: 100vh;   
}

.home-section img{
    position: absolute;
    top:0;left:0;
    width: 100%;
    height: 100%;    
}

.home-section p{
    position: absolute;             
    transform: translateX(-50%);
    color:white;
    font-family: 'Abril Fatface';
    opacity: 100;
}

@keyframes ted_animation{
    from{opacity:0};
    to {opacity:100}
}

.home-section p:nth-child(2){  
    top:20%;
    left:50%;
    width: auto;
    font-size:6vw;   
    animation-name: ted_animation;
    animation-duration: 2s;
}

.home-section p:nth-child(3){  
    top:45%;
    left:50%;
    width: auto;
    font-size: 3vw; 
    animation-name: ted_animation;
    animation-duration: 4s;  
}

.section-tables{
    width:100%;
    height: auto;
    display: flex;  
    justify-content: space-around;    
    padding: 2%;
    box-sizing: border-box;
    text-align: center;  
   
}

.table-content{    
    height: auto;
    width:45%;    
    box-sizing: border-box; 
    scroll-snap-align: start;
    opacity:0;
}

img{  
    max-width:100%;  
    height: 50%;  
}

.desc{    
    display: block;     
    width:100%;        
    height: auto;       
    text-align: center;   
    box-sizing: border-box;
    font-weight: 700; 
   
}

.desc p{
   height: 50%;
   margin:auto;
   width:90%;
   font-size:1.5vw;    
   
}

.desc button{   
    width:50%;
    height: 40px;
    margin-top: 5%;
    padding:0;
    background-color: transparent;
    border: 3px solid black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Playfair Display';
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    height:auto;
    padding: 10px;
    box-sizing: border-box;   
    text-align: center;
}

footer div{
    width:20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 3vw;
}

a:visited{
    color: white;
}

@media screen and (max-width:800px) {
    header{
        background-color: black;
        display: block;
        padding: 0;
    }
    .header-bars{
        display: block;
    }
    .header-links{
        display: none;
        text-align: center;
    }
    .home-section{
        height: 100vh;   
        background-color: white;       
    }
    .home-section img{
        position: static;
        height: 50%;
    }   
    .home-section p:nth-child(2){
        position: absolute; 
        top:60vh;
        font-size: 3rem;
        height: 25%;
        width:100%;
        margin:auto;
        color:black;
    }
    .home-section p:nth-child(3){
        position: absolute;
        top:70vh; 
        height: 25%;
        font-size: 2rem;
        width:100%;
        color:black;
    }
    .section-tables{
        /* position: absolute; */
        display: block;        
        /* top:100vh; */
        padding: 0;        
    }
    .table-content{       
        height: auto;
        width:75%;
        margin:auto;       
    } 
    img{
        height: 50%;
        width: 100%;
    }    
    .desc{        
        padding: 5%;
    }  
    .desc p{
        font-size: 3vw;
    }
    .desc button{       
        width:30%;
        height: 30px;     
        margin:15px; 
        font-size:large;
    }
    footer{
        position: static; 
        /* top:100%; */
    }
}
