body{
    width:100%;
    height: 100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    text-align: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    font-family: 'Playfair Display';    
}

.home-section{   
    max-width:100%;
    height: 100vh;
    background-color: lightgray;
}
.home-section img{
    position: absolute;
    top:0;left:0;
    max-width: 100%;
    height: 100%;    
    mix-blend-mode: darken;
}
.home-section p{
    position: absolute;        
    width: 100%;   
    transform: translateX(-50%);
    color:white;
    font-family: 'Abril Fatface';
}
.home-section p:nth-child(2){  
    top:20%;
    left:50%;
    width: 100%;
    font-size:6vw;   
}
.home-section p:nth-child(3){  
    top:45%;
    left:50%;
    width: 100%;
    font-size: 3vw;   
}


.section-tables{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 2%;
    box-sizing: border-box;
    text-align: center;  
   
}
.table-content{    
    height: 100%;
    width:45%;    
    box-sizing: border-box; 
    scroll-snap-align: start;     
}


img{  
    max-width:100%;  
    height: 60%;  
}
.desc{    
    display: block;     
    width:100%;        
    height: 40%;       
    text-align: center; 
    padding:20px;    
    box-sizing: border-box;
    font-weight: 700; 
   
}

.desc p{
   height: 50%;
   margin:0;
   font-size:2vw;    
   
}

.desc button{   
    width:120px;
    height: 50px;
    margin-top: 5%;
    background-color: transparent;
    border: 3px solid black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Playfair Display';
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    height:auto;
    padding: 10px;
    box-sizing: border-box;   
    text-align: center;
}
footer div{
    width:20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 3vw;
}
a:visited{
    color: white;
}

@media screen and (max-width:700px) {
    .home-section{
        height: 60vh;        
    }
    .home-section img{
        height: 60vh;
    }
    .home-section p:nth-child(2){
        top:60vh;
        font-size: 3rem;
        width:100%;
        color:black;
    }
    .home-section p:nth-child(3){
        top:70vh;
        font-size: 2rem;
        width:100%;
        color:black;
    }
    .section-tables{
        position: absolute;
        display: block;        
        top:100vh;
        padding: 0;        
    }
    .table-content{
        position: relative;
        height: 50vh;
        width:100%;
    } 
    img{
        width: 100%;
    }    
    .desc{
        position: relative;
        top:0;
        padding: 0;
    }  
    .desc p{
        font-size: large;
    }
    .desc button{
        position: relative;
        top:30px;
        height: 30px;     
        margin:0; 
        font-size:large;
    }
    footer{
        position: absolute;
        top:300vh;
    }
}
